.header-container{
    width: 100%;
    position: fixed;
    z-index: 1000;
    background: rgb(247,244,244);
    box-shadow: 0px 3px rgba(0,0,0,0.1);
}
.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width:100px;
    height:50px;
    margin-top:5px;
    display: flex;
}
.logo img{
    width:50px;
    height:50px;
    margin-left: 5px;
}
.links p{
    background: rgba(110, 30, 110,0.9);
    padding: 6px 18px;
    color: white;
    margin: 10px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0,0,0,0.1);
    transition: 0.3s all;
}
.links p:hover{
    background: rgba(50, 20, 80,0.9);
    box-shadow: 0px 0px rgba(0,0,0,0);
}
@media only screen and (max-width:1000px){
    .logo{
        margin-left:10px;
    }
    .logo img{
        display:none;
    }
}