@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
.container2 {
    border: 3px solid rgb(217, 217, 226);
    border-radius: 25px;
    padding: 20px 40px 40px;
    max-width: 700px;
    display: flex;
    height:px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    margin-top: 100px;
    margin-bottom: 20px;
}
.container2:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;

}
.text-container {
    flex: 1 1 auto;
  }
  .image-container2 {
    margin: 20px 0 0 0;
    /*object-fit: contain;*/
    align-self: flex-start;
    height: 350px;
  }
    
.vl {
    border-left: 3px solid rgb(217,217,226);
    height: 400px;
    position: relative;
    margin-right: 30px;
    margin-left: 40px;
        box-shadow: 0px 0px 15px -5px;

   /* top: 0;*/
  }
  h3{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;

  }

  
