@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.main-body{
    position: absolute;
    top: 40px;
    left: 240px;

    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}
.title-text{
    margin-left: 2rem;
    font-size: 2.5rem;
    color:rgb(185, 67, 67);
    /*font-family: 'Dancing Script', cursive;*/
}
.rect-cards{
    margin-left: 2rem;
}

@media only screen and (max-width:1000px){
    .main-body{
        position: absolute;
        left: 10px;
        z-index:0;
    }
}
@media only screen and (min-width:800px){
    .main-body{
        background-size: auto 100%;
    }
}