@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
.homepage-footer{
	background: #46008b;
	color: white;
	padding: 3em;
	
}

.social-footer{
	display: flex;
	justify-content: flex-end;

}
.ff1, .ff2, .ff3 { 
	background: #efefef; 
	border: 1px solid #999; 
	margin-right: 20px;
	overflow: hidden;
    transition: 0.3s;
    border-radius: 15px;
    animation: ease-in-out;
 }
.ff2 { 
	text-align: center;
 }
.ff4{
	font-family: 'Potta One', cursive;
	

}

.ff1:hover, .ff2:hover, .ff3 :hover{
	transform: scale(1.2);
   /* box-shadow: 0px 0px 15px 0px;*/
 }
