.footer{
    position: absolute;
    //margin-top: 5rem;
    width: 100%;
    background-color: rgba(247, 244, 244, 0.816);
    color: purple;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    bottom: auto;
}