.myfiles{
    margin-left: 90px;
    margin-top: 100px;
    margin-right: auto;
    position: relative;
    border: 10px solid rgba(114, 33, 115,0.9);
    padding: 20px;
    border-radius: 10px;
    width: 70vw;
    box-shadow: 3px 7px 8px rgba(21, 7, 49,0.9);
    transition: all 0.1s;
}

.myfiles:hover{
    transform: translate(0.5px,0.5px);
    box-shadow: 1px 1px 3px rgba(21, 7, 49,0.9);
}
.upload-p{
   text-transform: uppercase;
   font-weight: 700;
}

.upload-input::-webkit-file-upload-button {
    visibility: hidden;
  }


.upload-input::before{
    border: 2px solid purple;
    width: 92%;
    content: 'Select any file';
    display: inline-block;
    justify-content: center;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);    
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.upload-input:hover::before {
    border-color: black;
  }
.upload-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.upload-input-btn{
    margin-left: 30px;
    width: 100px;
    height: 30px;
}

.divider{
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 90px;
    display: block;
    margin-right: auto;
    position: relative;
    border-bottom: 2px solid black;
}