.home{
    &-container{
        height: 30rem;
    }

    &-teacher{
        display: flex;
    }

    &-student{
        display: flex;
        flex-direction: row-reverse;
    }

    &-svg{
        width: 25%;
        height: 50%;
    }
}